.contact-card{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 
    0 1px 3px rgba(0,0,0, 0.12),
    0 1px 2px rgba(0,0,0, 0.24); 
}

.contact-card label{
    font-weight: bold;
}

.contact-card p{
    margin-top: .5em;
    margin-bottom: 1em;
}

.contact-card p.about{
    height: 63px;
    overflow: hidden;
}

.delete-animation{
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}

/**
 *  ANIMATIONS
 */

 @keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}