<div class="contact-card" [ngClass]="{'delete-animation': byebye}" (click)="onClick()">
  <label>Name: </label>
  <p>
    {{contact.name}}
  </p>
  <label>About: </label>
  <p class="about">
    {{contact.about}}
  </p>
  <label>Phone: </label>
  <p>
    {{contact.phone}}
  </p>
</div>