.container{
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: calc(50% - 640px);
}

/*

 Project: Material Time Picker
 Author: @mackness
 EditedBy: @myanes

*/
/* DEFAULTS
   ----------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #1f1f1f;
  font-size: 62.5%;
  background-color: #646464;
}

button {
  outline: 0;
  border: 0;
  color: #009688;
  cursor: pointer;
  font-size: 1.4em;
  padding: 14px 10px;
  border-radius: 4px;
  background-color: transparent;
}

button:focus
button:active,
button:hover {
  background-color: #ededed;
}

/* TIME PICKER
   ----------------------------- */
.time-picker {
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 94vw;
  max-width: 315px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.55);
  transform: translate(-50%, -50%);
}

.digital {
  padding: 25px 0 20px 0;
  background-color: #009688;
}

.digital--inner {
  display: block;
  text-align: center;
}

.digital--clock {
  color: #fff;
  font-size: 5.3em;
}

.control-block {
  display: inline-block;
}

.digital--period {
  display: block;
  color: #fff;
  cursor: pointer;
  font-size: 2.0em;
}

.hours,
.minutes {
  transition: opacity 100ms linear;
  cursor: pointer;
}

.light {
  opacity: 0.6;
}

.ultra-light {
  opacity: 0.3;
}

.period {
  text-transform: uppercase;
}

.smaller {
  font-size: 0.9em;
}

/* ANALOG CLOCK
   ----------------------------- */
.analog {
  height: 170px;
  width: 100%;
  position: relative;
}

.analog--inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  transition: transform 125ms linear;
}

.minutes-state .analog--inner {
  transform: translateX(-400px);
}

.analog--hours,
.analog--minutes {
  width: 210px;
  height: 210px;
  position: relative;
  margin: 0 auto;
}

.analog--face {
  top: 25px;
  right: 25px;
  left: 25px;
  bottom: 25px;
  position: absolute;
  border-radius: 50%;
  background-color: #dfdfdf;
}

.analog--hand {
  width: 350px;
  height: 350px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  transform: rotate(0deg);
  transition: transform 100ms linear;
}
.analog--hand:before {
  content: " ";
  width: 2px;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
  display: block;
  margin-left: -1px;
  position: absolute;
  background-color: #abcecb;
  transform: rotate(90deg);
}
.analog--hand:after {
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  z-index: 1;
  display: block;
  position: absolute;
  background-color: #dfdfdf;
}
.analog--hand.deg-360 {
  transform: rotate(-90deg);
}
.analog--hand.deg-30 {
  transform: rotate(-60deg);
}
.analog--hand.deg-60 {
  transform: rotate(-30deg);
}
.analog--hand.deg-90 {
  transform: rotate(0);
}
.analog--hand.deg-120 {
  transform: rotate(30deg);
}
.analog--hand.deg-150 {
  transform: rotate(60deg);
}
.analog--hand.deg-180 {
  transform: rotate(90deg);
}
.analog--hand.deg-210 {
  transform: rotate(120deg);
}
.analog--hand.deg-240 {
  transform: rotate(150deg);
}
.analog--hand.deg-270 {
  transform: rotate(180deg);
}
.analog--hand.deg-300 {
  transform: rotate(210deg);
}
.analog--hand.deg-330 {
  transform: rotate(240deg);
}

.analog--ball {
  height: 42px;
  width: 42px;
  display: block;
  right: 6px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
  position: absolute;
  background-color: #abcecb;
}
.analog--ball:before {
  content: " ";
  height: 20px;
  width: 20px;
  right: -6px;
  top: 11px;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  background-color: #dfdfdf;
}

.analog--center {
  height: 4px;
  width: 4px;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-top: -2px;
  margin-left: -2px;
  display: block;
  position: absolute;
  background-color: #666666;
}

.analog--minute,
.analog--hour {
  font-size: 1.7em;
  color: #666666;
  left: 50%;
  top: 50%;
  z-index: 3;
  text-align: center;
  width: 45px;
  padding: 8px 0;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -22px;
  margin-top: -30px;
  position: absolute;
  font-weight: 300;
}

.analog--minute:hover,
.analog--hour:hover{
  color: #e91e63;
  font-weight: bold;
} 

.active {
  background-color: #abcecb;
}

.deg-360 {
  transform: rotate(-90deg) translate(2.3em) rotate(90deg);
}

.deg-30 {
  transform: rotate(-60deg) translate(2.3em) rotate(60deg);
}

.deg-60 {
  transform: rotate(-30deg) translate(2.25em) rotate(30deg);
}

.deg-90 {
  transform: rotate(0) translate(2.35em) rotate(0);
}

.deg-120 {
  transform: rotate(30deg) translate(2.45em) rotate(-30deg);
}

.deg-150 {
  transform: rotate(60deg) translate(2.5em) rotate(-60deg);
}

.deg-180 {
  transform: rotate(90deg) translate(2.6em) rotate(-90deg);
}

.deg-210 {
  transform: rotate(120deg) translate(2.5em) rotate(-120deg);
}

.deg-240 {
  transform: rotate(150deg) translate(2.45em) rotate(-150deg);
}

.deg-270 {
  transform: rotate(180deg) translate(2.35em) rotate(-180deg);
}

.deg-300 {
  transform: rotate(210deg) translate(2.25em) rotate(-210deg);
}

.deg-330 {
  transform: rotate(240deg) translate(2.3em) rotate(-240deg);
}

/* LOWER CONTROLS
   ----------------------------- */
.controls {
  padding: 20px;
  text-align: right;
}
