<div class="container" (click)="onCancel()">
</div>
<div class="time-picker hours-state">
  <div class="digital">
    <div class="digital--inner">
      <span class="digital--clock">
				<span (click)="showHours = !showHours" class="hours" [ngClass]="{'light': !showHours }" >{{hours}}</span> :
      <span (click)="showHours = !showHours" class="minutes" [ngClass]="{'light': showHours }">{{minutes}}</span>
      </span>
      <div class="control-block">
        <span (click)="am = !am" class="digital--period" [ngClass]="{'light': !am }">am</span>
        <span (click)="am = !am" class="digital--period" [ngClass]="{'light': am }">pm</span>
      </div>
    </div>
  </div>
  <div class="analog">
    <div class="analog--inner">
      <div *ngIf="showHours" class="analog--hours">
        <div class="analog--face">
          <span class="analog--center"></span>
          <span data-deg="deg-360" class="analog--hour deg-360" (click)="changeHours(12)">12</span>
          <span data-deg="deg-30" class="analog--hour deg-30" (click)="changeHours(1)">1</span>
          <span data-deg="deg-60" class="analog--hour deg-60" (click)="changeHours(2)">2</span>
          <span data-deg="deg-90" class="analog--hour deg-90" (click)="changeHours(3)">3</span>
          <span data-deg="deg-120" class="analog--hour deg-120" (click)="changeHours(4)">4</span>
          <span data-deg="deg-150" class="analog--hour deg-150" (click)="changeHours(5)">5</span>
          <span data-deg="deg-180" class="analog--hour deg-180" (click)="changeHours(6)">6</span>
          <span data-deg="deg-210" class="analog--hour deg-210" (click)="changeHours(7)">7</span>
          <span data-deg="deg-240" class="analog--hour deg-240" (click)="changeHours(8)">8</span>
          <span data-deg="deg-270" class="analog--hour deg-270" (click)="changeHours(9)">9</span>
          <span data-deg="deg-300" class="analog--hour deg-300" (click)="changeHours(10)">10</span>
          <span data-deg="deg-330" class="analog--hour deg-330" (click)="changeHours(11)">11</span>
        </div>
      </div>
      <div *ngIf="!showHours" class="analog--minutes">
        <div class="analog--face">
          <span class="analog--center"></span>
          <span data-deg="deg-360" class="analog--minute deg-360" (click)="minutes='00'">00</span>
          <span data-deg="deg-30" class="analog--minute deg-30" (click)="minutes='05'">05</span>
          <span data-deg="deg-60" class="analog--minute deg-60" (click)="minutes='10'">10</span>
          <span data-deg="deg-90" class="analog--minute deg-90" (click)="minutes='15'">15</span>
          <span data-deg="deg-120" class="analog--minute deg-120" (click)="minutes='20'">20</span>
          <span data-deg="deg-150" class="analog--minute deg-150" (click)="minutes='25'">25</span>
          <span data-deg="deg-180" class="analog--minute deg-180" (click)="minutes='30'">30</span>
          <span data-deg="deg-210" class="analog--minute deg-210" (click)="minutes='35'">35</span>
          <span data-deg="deg-240" class="analog--minute deg-240" (click)="minutes='40'">40</span>
          <span data-deg="deg-270" class="analog--minute deg-270" (click)="minutes='45'">45</span>
          <span data-deg="deg-300" class="analog--minute deg-300" (click)="minutes='50'">50</span>
          <span data-deg="deg-330" class="analog--minute deg-330" (click)="minutes='55'">55</span>
        </div>
      </div>
    </div>
  </div>
  <div class="controls">
    <button (click)="updateTime()">OK</button>
    <button (click)="onCancel()">CANCEL</button>
  </div>
</div>