<div class="navbar-header"><span>ng2-cedei-demo-app</span></div>
<div class="navbar">
  <menu>
    <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    <a routerLink="/alarms" routerLinkActive="active">Alarms</a>
    <a routerLink="/examples" routerLinkActive="active">Examples</a>
  </menu>
</div>