.navbar-header{
    width: 100%;
    height: 150px;
    background-color: #03A9F4;
    color: #FFF;
    font-size: 24px;
    position: relative;
}

.navbar-header span{
    position: absolute;
    bottom: 0;
    padding: 1.5em;
}


.navbar{
    display: inline-block;
    width: 100%;
    background-color: #0288D1;
    color: #FFF;
}

.navbar menu{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.navbar a{
    display: inline-block;
    height: 56px;
    line-height: 56px;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}

.navbar a:hover, .navbar a.active{
    background-color: #e3165b;
    color: #fff;
    transition: all .5s;
    font-weight: bold;
}
