.container{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.example{
    margin: 2em 0;
}
.example button, .example input{
    padding: 1em;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 1em;
}

.example p{
    font-size: 18px;
}

.red{
    color: red;
}