<div class="container">

  <div class="example">
    <button (click)="show = !show">ngIF</button>
    <button (click)="isRed= !isRed">ngClass</button>

    <p *ngIf="show" [ngClass]="{'red': isRed}"> Hola ngIf</p>

  </div>

  <div class="example">

    <input type="text" [(ngModel)]="text">

    <p>{{text | uppercase }}</p>
  </div>


</div>