/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arsenal');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arsenal', sans-serif;
}

body{
    background-color: #f5f5f5;
}