<div class="container">
  <div class="new-alarm-container">
    <app-time-picker *ngIf="showTimePicker" (timeChanged)="onTimeChanged($event)" (cancel)="showTimePicker = !showTimePicker"></app-time-picker>
    <input placeholder="Alarm title" id="newTitle" type="text" [(ngModel)]="newTitle">
    <input (click)="showTimePicker = !showTimePicker" readonly placeholder="Time" id="newTime" type="text" value="{{newTime | date:'h:mm a'}}">
    <button (click)="addAlarm()" [disabled]="!validValues()">New Alarm</button>
  </div>

  <div class="alarms-container">
    <ul>
      <li *ngFor="let alarm of alarmsList">
        <p>{{alarm.title}}</p>
        <p>{{alarm.time | date:'h:mm a'}}</p>
      </li>
    </ul>
  </div>
</div>